.productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.modalClose {
  margin: 20px;
}

.modalContainer {
  display: flex;
  justify-content: flex-end;
}
